<!DOCTYPE html>
<html lang="en">
<head>
    <title>Queries template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2 class="text-center"><u>Question {{id_value}}</u></h2><br>
    <h4 style="color:blue;">{{question}}</h4>
    <br/>
    <p style="color:darkgreen;">{{query}}</p>
    <br/>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
        {% for column in columns %}
            <th>{{column}}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        <!-- jinja2 Technique -->
        {% for list in data %}
        <tr>
            {% for elem in list %}
                <td>{{elem}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>